target/
!.mvn/wrapper/maven-wrapper.jar

#src/main/resources/application.yml
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
nginx-1.12.1/logs/access.log
nginx-1.12.1/logs/nginx.pid
nginx-1.12.1/logs/error.log
nginx-1.12.1/logs/nginx.pid